<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <div class="page-container page-container-rankings">
                <h1>Most Liked</h1>
                <% if (!isAuthenticated) { %>
                    <p class="user-message">You have to be login to be able to like user</p>
                    <% } %>
                        <ul class="rankings-list-ul">
                            <% for(user of users) { %>
                                <li class="rankings-list-row"">
                                    <div class=" ranking-list__user-info">
                                    <%= `${user.name}, ${user.email}` %>
            </div>
            <div class="ranking-list__likes">
                Likes: <%= user.likes %>
            </div>
            <div class="ranking-list__user-options">
                <% if (isAuthenticated && loggedUserId !==user.id) { %>
                    <% if (!user.isUserLikedUser) { %>
                        <form action="/user/<%= user.id %>/like" type="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-likes">Like</button>
                        </form>
                        <% } else { %>
                            <form action="/user/<%= user.id %>/unlike" type="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-likes">Unlike</button>
                            </form>
                            <% } %>
                                <% } %>
                                    <form action="/user/<%= user.id %>" type="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-likes">Details</button>
                                    </form>
            </div>
            </li>
            <% } %>
                </ul>

                </div>
                <%- include('includes/end.ejs') %>