<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <div class="page-container">
                <h1>User Details</h1>
                <ul class="about-me-list">
                    <li>Name: <%= user.name %>
                    </li>
                    <li>Email: <%= user.email %>
                    </li>
                    <li>Address: <%= user.address %>
                    </li>
                    <li>Likes: <%= user.likes %>
                    </li>
                </ul>
            </div>
            <%- include('includes/end.ejs') %>